In [2]:
my_tup = (5,8,4,'simpli','learn',True)

1. Extract "8" in `my_tup`

In [3]:
# code here
my_tup[1]

8

2. Extract "4" in `my_tup`

In [4]:
# code here
my_tup[2]

4

3. Extract 1st three values in `my_tup`

In [5]:
# code here
print(my_tup[:3])
print(my_tup[0:3])

(5, 8, 4)
(5, 8, 4)

4. Extract last three values in `my_tup`

In [6]:
# code here
print(my_tup[-3:])

('simpli', 'learn', True)

5. Extract alternate values starting with `5`

In [10]:
start = my_tup.index(5)
my_tup[ind::2]

(5, 4, 'learn')

6. Print the data type of 2nd element in `my_tup`

In [11]:
# code here
print('The second  element is',my_tup[1])
print('the data type is',type(my_tup[1]))

The second  element is 8
the data type is <class 'int'>

7. Print the data type of last elment in `my_tup`

In [12]:
# code here
print('The last  element is',my_tup[-1])
print('the data type is',type(my_tup[-1]))

The last  element is True
the data type is <class 'bool'>

8. Add 4th and 5th element in `my_tup`

In [13]:
# code here
print(my_tup[3]+my_tup[4])

simplilearn

9. Multiply the output of 8 question with 1st element

In [14]:
# code here
element = my_tup[3]+my_tup[4]
print(element*my_tup[0])

simplilearnsimplilearnsimplilearnsimplilearnsimplilearn

10. Print all the values in `my_tup` in reverse order

In [15]:
# code here
my_tup[::-1]

(True, 'learn', 'simpli', 4, 8, 5)

---
srikanth dakoju